@charset "UTF-8";
/*

****
****

Autor: 
Date: 17/11/2014
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass
    -- bootstrap


** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- reset


** CUSTOM SECTIONS
    -- modules/news
    -- modules/fonts

****
****

*/
/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/
/* line 7, ../scss/reset.scss */
*, html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 8, ../scss/reset.scss */
body {
  font: 0.93em Tahoma, Arial, sans-serif;
  color: #000;
  text-align: left;
  line-height: 1.3em;
  background: #5579ad;
}

/* line 14, ../scss/reset.scss */
a {
  text-decoration: none;
  color: #1a1a1a;
}

/* line 16, ../scss/reset.scss */
img, a img, fieldset {
  border: 0;
}

/* line 17, ../scss/reset.scss */
address, em {
  font-style: normal;
}

/* line 18, ../scss/reset.scss */
li {
  list-style-type: none;
}

/* line 19, ../scss/reset.scss */
table {
  border-collapse: collapse;
}

/* line 20, ../scss/reset.scss */
p {
  font: 1em 'open_sansregular';
  text-align: justify;
  color: #000;
  line-height: 25px;
}

/* line 26, ../scss/reset.scss */
p + p {
  margin-top: 10px;
}

/* line 29, ../scss/reset.scss */
hr {
  height: 1px;
  border: 1px dotted;
  border-color: #c4c4c4 transparent transparent transparent;
  margin: 100px 0;
}

/*
|----------------------------------------------
| Mixins e Functions
|----------------------------------------------
*/
/*
|----------------------------------------------
| Grid
|----------------------------------------------
*/
/* line 7, ../scss/grid.scss */
.cem {
  width: 100%;
}

/* line 11, ../scss/grid.scss */
.grid {
  width: 990px;
  margin: 0 auto;
}

/* line 17, ../scss/grid.scss */
.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
/* line 31, ../scss/grid.scss */
.l-box {
  padding: 1em;
}

/* line 35, ../scss/grid.scss */
.pure-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

/* line 35, ../scss/grid.scss */
.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em;
}

/* line 35, ../scss/grid.scss */
.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/* line 35, ../scss/grid.scss */
.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

/* line 35, ../scss/grid.scss */
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-5 {
  width: 20%;
  *width: 19.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%;
}

/* line 35, ../scss/grid.scss */
.pure-u-2-5 {
  width: 40%;
  *width: 39.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-3-5 {
  width: 60%;
  *width: 59.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%;
}

/* line 35, ../scss/grid.scss */
.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-4-5 {
  width: 80%;
  *width: 79.969%;
}

/* line 35, ../scss/grid.scss */
.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%;
}

/* line 35, ../scss/grid.scss */
.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

/* line 35, ../scss/grid.scss */
.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

/* line 35, ../scss/grid.scss */
.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    /*
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  /* line 41, ../scss/grid.scss */
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  /* line 41, ../scss/grid.scss */
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%;
  }
}
/*
|----------------------------------------------
| Header
|----------------------------------------------
*/
/* line 9, ../scss/modules/header.scss */
.header {
  position: fixed;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
  z-index: 999;
}

/* line 19, ../scss/modules/header.scss */
.logo {
  width: 175px;
  height: 45px;
  background: url("../images/logo.png") repeat-x;
  display: block;
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-indent: -999px;
  overflow: hidden;
}

/*
|----------------------------------------------
| Fonts
|----------------------------------------------
*/
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hammersmithoneregular';
  src: url("../fonts/hammersmithone-regular-webfont.eot");
  src: url("../fonts/hammersmithone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hammersmithone-regular-webfont.woff") format("woff"), url("../fonts/hammersmithone-regular-webfont.ttf") format("truetype"), url("../fonts/hammersmithone-regular-webfont.svg#hammersmithoneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
|----------------------------------------------
| News
|----------------------------------------------
*/
/* line 7, ../scss/modules/news.scss */
.news {
  background: #fff;
  padding: 80px 0;
}
/* line 10, ../scss/modules/news.scss */
.news .tit-nivel2, .news .tit-nivel3 {
  color: #3865a8;
}

/* line 16, ../scss/modules/news.scss */
.item {
  margin: 50px 0;
}
/* line 18, ../scss/modules/news.scss */
.item .tit-nivel4 {
  font: 1.125em "hammersmithoneregular";
}

/* line 25, ../scss/modules/news.scss */
.blc .img-crop {
  display: block;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 38, ../scss/modules/news.scss */
.blc-new .tit-nivel3 {
  margin: 5px 0;
  text-align: left;
}
/* line 43, ../scss/modules/news.scss */
.blc-new img {
  margin-bottom: 7px;
}

/* line 53, ../scss/modules/news.scss */
.blc-new2 .tit-nivel3 {
  text-align: left;
}
/* line 56, ../scss/modules/news.scss */
.blc-new2 img {
  float: left;
  width: 100%;
  height: 200px;
  margin-bottom: 7px;
}

/* line 61, ../scss/modules/news.scss */
.data {
  padding: 15px 0;
  background: #2c2c2c;
}

/* line 65, ../scss/modules/news.scss */
.dia {
  font-size: 1em;
}

/* line 68, ../scss/modules/news.scss */
.dia, .mes {
  font: 1.125em "hammersmithoneregular";
  color: #fff;
  text-align: center;
  display: block;
}

/* line 77, ../scss/modules/news.scss */
.blc-new4 {
  background: #f1f1f1;
}
/* line 79, ../scss/modules/news.scss */
.blc-new4 .tit-nivel3 {
  font-size: 16px;
}
/* line 82, ../scss/modules/news.scss */
.blc-new4 .date-hash {
  width: 100%;
  padding: 8px 0;
  display: block;
  border: 1px solid;
  border-color: #dbdbdb transparent #dbdbdb transparent;
  margin: 10px 0;
}
/* line 90, ../scss/modules/news.scss */
.blc-new4 .data-news4, .blc-new4 .hashtag {
  font: 0.875em "open_sansregular";
  padding-left: 20px;
}
/* line 94, ../scss/modules/news.scss */
.blc-new4 .data-news4 {
  background: url("../images/time.png") left no-repeat;
}
/* line 97, ../scss/modules/news.scss */
.blc-new4 .hashtag {
  background: url("../images/hashtag.png") left no-repeat;
  margin-left: 6px;
}

/* line 105, ../scss/modules/news.scss */
.blc-new-5 {
  position: relative;
}
/* line 107, ../scss/modules/news.scss */
.blc-new-5 .tit-nivel3 {
  margin: 8px 0;
  color: #3865a8;
}
/* line 111, ../scss/modules/news.scss */
.blc-new-5 a {
  text-align: center;
}
/* line 113, ../scss/modules/news.scss */
.blc-new-5 a:before {
  position: absolute;
  content: "+";
  width: 30px;
  height: 30px;
  background: #31356f;
  color: white;
  border: 4px solid #fff;
  border-radius: 100%;
  z-index: 6;
  margin: -15px auto;
  left: 0;
  right: 0;
}
/* line 125, ../scss/modules/news.scss */
.blc-new-5 a:hover:before {
  background: orange;
}
/* line 129, ../scss/modules/news.scss */
.blc-new-5 .btn-leia {
  font: 0.875em "open_sansregular";
  color: red;
}

@media only screen and (max-width: 800px) {
  /* line 148, ../scss/modules/news.scss */
  .blc-new {
    margin-right: 0;
    margin-left: 0;
  }
}
/*
|----------------------------------------------
| Menu
|----------------------------------------------
*/
/* line 9, ../scss/modules/menu.scss */
.b-menu {
  margin-top: -55px;
  width: auto;
}

/*menu resp*/
/* line 15, ../scss/modules/menu.scss */
.anima-menu {
  display: block;
  width: 30px;
  height: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  right: 12px;
  margin-top: 20px;
  position: fixed;
  text-indent: -999px;
  overflow: hidden;
  z-index: 999;
}
/* line 27, ../scss/modules/menu.scss */
.anima-menu span {
  /* font:$t-p $ft1;  margin-left:-50px; text-transform: uppercase; color: $cl2;*/
}

/* line 32, ../scss/modules/menu.scss */
.anima-menu:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 8px;
}

/*cor do link resp*/
/* line 49, ../scss/modules/menu.scss */
.menu-link {
  color: #fff;
  text-decoration: none;
}

/*animação do menu resp*/
/* line 52, ../scss/modules/menu.scss */
nav[role=navigation] {
  clear: both;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*class no body para deixar menu escondido no resp*/
/* line 59, ../scss/modules/menu.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/*ao acionar a class active o tamanho do menu-link resp seta */
/* line 65, ../scss/modules/menu.scss */
nav[role=navigation].active {
  max-height: 46em;
}

/*estilizando o menu resp*/
/* line 70, ../scss/modules/menu.scss */
nav[role=navigation] .menu {
  margin: 0;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  position: relative;
  z-index: 2;
  background: #1a1a1a;
  text-transform: uppercase;
  border-top: 2px solid #1a1a1a;
}

/*estilizando o menu-link resp*/
/* line 84, ../scss/modules/menu.scss */
nav[role=navigation] .menu-link {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #469;
  font: 1em 'open_sansregular';
}

/*estilizando o menu-link:hover resp*/
/* line 92, ../scss/modules/menu.scss */
nav[role=navigation] .menu-link:hover {
  background: #fff;
  color: #469;
}

/*
|----------------------------------------------
| _query 800 do menu principal
|----------------------------------------------
*/
@media screen and (min-width: 800px) {
  /* line 109, ../scss/modules/menu.scss */
  .anima-menu {
    display: none;
  }

  /* line 113, ../scss/modules/menu.scss */
  .js nav[role=navigation] {
    clear: none;
    max-height: none;
  }

  /*menu normal*/
  /* line 118, ../scss/modules/menu.scss */
  nav[role=navigation] .menu {
    border: 0;
    float: left;
    margin-top: 10px;
    background: transparent;
    width: 100%;
  }

  /*estilizando a lista do menu*/
  /* line 128, ../scss/modules/menu.scss */
  nav[role=navigation] .menu li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
  }
  /* line 134, ../scss/modules/menu.scss */
  nav[role=navigation] .menu li:first-child {
    margin-left: 0;
  }
  /* line 139, ../scss/modules/menu.scss */
  nav[role=navigation] .menu li:last-child {
    margin-right: 0;
  }
  /* line 143, ../scss/modules/menu.scss */
  nav[role=navigation] .menu li[title*="Exa"] {
    margin-right: 315px!important;
  }

  /*estilizando o link do menu*/
  /* line 148, ../scss/modules/menu.scss */
  nav[role=navigation] .menu-link {
    border: 0;
    font: .89em 'open_sansregular';
    color: #1a1a1a;
    padding: 15px 10px;
  }

    /*.menu li .menu-link[title*="Home"]{
        padding-left: 0;
}*/
  /*estilizando o hover do menu*/
  /* line 161, ../scss/modules/menu.scss */
  nav[role=navigation] .menu-link:hover {
    background: none;
    color: #469;
  }
}
/* line 171, ../scss/modules/menu.scss */
.blc-sub-cat {
  border-bottom: 1px dotted #fff;
  float: left;
  margin: 10px 5px;
}
/* line 175, ../scss/modules/menu.scss */
.blc-sub-cat:last-child {
  border-bottom: 0;
}
/* line 178, ../scss/modules/menu.scss */
.blc-sub-cat a {
  padding: 6px 10px;
  background: #efefef;
  outline: none;
  font: .89em 'open_sansregular';
}
/* line 183, ../scss/modules/menu.scss */
.blc-sub-cat a:hover {
  background: #3865a8;
  color: white;
}

/*
|----------------------------------------------
| Abas
|----------------------------------------------
*/
/* line 7, ../scss/modules/abas.scss */
.abas {
  background: #d5ddea;
  padding: 80px 0;
}
/* line 10, ../scss/modules/abas.scss */
.abas .tit-nivel2, .abas .tit-nivel3 {
  color: #3865a8;
}

/* line 17, ../scss/modules/abas.scss */
.tabs p {
  margin-top: 15px;
}

/* line 21, ../scss/modules/abas.scss */
.transformer-tabs {
  margin-top: 25px;
}
/* line 23, ../scss/modules/abas.scss */
.transformer-tabs ul {
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
}
/* line 31, ../scss/modules/abas.scss */
.transformer-tabs li {
  margin-right: 25px;
  float: left;
  /* &:nth-child(1) .active {
     color: lighten(#9b59b6, 20%);
     border-bottom-color: #9b59b6;
   }
   &:nth-child(2) .active {
     color: lighten(#3498db, 20%);
     border-bottom-color: #3498db;
   }
   &:nth-child(3) .active {
     color: lighten(#e67e22, 20%);
     border-bottom-color: #e67e22;
   }
   &:nth-child(4) .active {
     color: lighten(#c0392b, 20%);
     border-bottom-color: #c0392b;
   }*/
}
/* line 34, ../scss/modules/abas.scss */
.transformer-tabs li:first-child {
  margin-left: 15px;
}
/* line 54, ../scss/modules/abas.scss */
.transformer-tabs a {
  font: 1em "open_sansregular";
  border: 1px solid #1a1a1a;
  float: left;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
}
/* line 62, ../scss/modules/abas.scss */
.transformer-tabs a.active {
  border-color: #6180af;
  color: #6180af;
  position: relative;
  bottom: 0;
}
@media (max-width: 800px) {
  /* line 73, ../scss/modules/abas.scss */
  .transformer-tabs ul {
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#446699, #446699);
  }
  /* line 79, ../scss/modules/abas.scss */
  .transformer-tabs ul::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 2;
    pointer-events: none;
  }
  /* line 88, ../scss/modules/abas.scss */
  .transformer-tabs ul.open a {
    border: 0;
    color: #fff;
    position: relative;
    display: block;
  }
  /* line 96, ../scss/modules/abas.scss */
  .transformer-tabs li {
    display: block;
    float: none;
  }
  /* line 99, ../scss/modules/abas.scss */
  .transformer-tabs li:first-child {
    margin-left: 0;
  }
  /* line 103, ../scss/modules/abas.scss */
  .transformer-tabs a {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    width: 103%;
    height: 100%;
  }
  /* line 110, ../scss/modules/abas.scss */
  .transformer-tabs a.active {
    color: #fff;
    border: 0;
    z-index: 1;
    background: #666;
    background: linear-gradient(#446699, #4d74af);
  }
}

/* line 124, ../scss/modules/abas.scss */
.tabs > div {
  display: none;
  padding: 1rem;
}
/* line 127, ../scss/modules/abas.scss */
.tabs > div:nth-of-type(1) {
  background: none;
}
/* line 130, ../scss/modules/abas.scss */
.tabs > div:nth-of-type(2) {
  background: none;
}
/* line 133, ../scss/modules/abas.scss */
.tabs > div:nth-of-type(3) {
  background: none;
}
/* line 136, ../scss/modules/abas.scss */
.tabs > div:nth-of-type(4) {
  background: none;
}
/* line 140, ../scss/modules/abas.scss */
.tabs > .active {
  display: block;
}

/*
|----------------------------------------------
| Buttons
|----------------------------------------------
*/
/* line 7, ../scss/modules/buttons.scss */
.bts {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  margin-bottom: 5px;
  display: table;
}
/* line 12, ../scss/modules/buttons.scss */
.bts li {
  float: left;
  margin: 0 5px;
}
/* line 15, ../scss/modules/buttons.scss */
.bts li:first-child {
  margin-left: 15px;
}

/*estilo botão*/
/* line 22, ../scss/modules/buttons.scss */
.button {
  display: inline-block;
  *display: inline;
  padding: 10px 20px;
  margin-bottom: 10px;
  font: 0.875em "open_sansregular";
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0);
  /*border-color:#eeeeee,#dedede,#dedede;*/
  border-radius: 6px;
  background: #8e8e8e;
  border-bottom: 2px solid #717171;
}
/* line 37, ../scss/modules/buttons.scss */
.button:hover {
  background: #a0a0a0;
}

/* line 43, ../scss/modules/buttons.scss */
.green {
  background: #51A351;
  border-bottom: 2px solid #35895d;
}
/* line 47, ../scss/modules/buttons.scss */
.green:hover, .green:active {
  background: #4DAF7C;
}

/* line 52, ../scss/modules/buttons.scss */
.blue {
  background: #469;
  border-bottom: 2px solid #355077;
}
/* line 56, ../scss/modules/buttons.scss */
.blue:hover, .blue:active {
  background: #476ca3;
}

/* line 61, ../scss/modules/buttons.scss */
.pink {
  background: #ef00b8;
  border-bottom: 2px solid #d300a2;
}
/* line 65, ../scss/modules/buttons.scss */
.pink:hover, .pink:active {
  background: #eb44c5;
}

/* line 70, ../scss/modules/buttons.scss */
.yellow {
  background: #ffcc00;
  border-bottom: 2px solid #d0a600;
}
/* line 74, ../scss/modules/buttons.scss */
.yellow:hover, .yellow:active {
  background: #f5d75c;
}

/* line 79, ../scss/modules/buttons.scss */
.red {
  background: #CA3A33;
  border-bottom: 2px solid #af322b;
}
/* line 83, ../scss/modules/buttons.scss */
.red:hover, .red:active {
  background: #e24f48;
}

/* line 88, ../scss/modules/buttons.scss */
.white {
  background: #f1f1f1;
  border-bottom: 2px solid #c3c3c3;
  color: #2c2c2c;
  text-shadow: 0px -1px 0px #d9d9d9;
}
/* line 94, ../scss/modules/buttons.scss */
.white:hover, .white:active {
  background: #f4f4f4;
}

/* line 99, ../scss/modules/buttons.scss */
.orange {
  background: #ffb100;
  border-bottom: 2px solid #dd9900;
}
/* line 103, ../scss/modules/buttons.scss */
.orange:hover, .orange:active {
  background: #ffbf2f;
}

/*
|----------------------------------------------
| _query 800 pra coisas globais
|----------------------------------------------
*/
@media only screen and (max-width: 800px) {
  /* line 8, ../scss/query.scss */
  .cem .grid {
    width: 90%;
    margin: 0 auto;
  }

  /* line 14, ../scss/query.scss */
  .tit-nivel3 {
    font-size: 1.2em!important;
  }

  /* line 19, ../scss/query.scss */
  .header {
    padding: 0;
    position: inherit !important;
  }
  /* line 22, ../scss/query.scss */
  .header .tp {
    position: fixed;
    border-bottom: 1px solid #469;
    z-index: 999;
    width: 100%;
    background: #1a1a1a;
  }
  /* line 28, ../scss/query.scss */
  .header:after {
    top: 0;
  }

  /* line 36, ../scss/query.scss */
  .b-menu {
    margin-top: 0;
    width: auto;
    background: #1a1a1a;
  }

  /* line 45, ../scss/query.scss */
  section.painel {
    margin-top: 60px;
  }

  /* line 51, ../scss/query.scss */
  .logo {
    width: 175px;
    height: 45px;
    margin: 9px 10px;
    float: left;
    background: url("../images/logo.png");
  }

  /* line 66, ../scss/query.scss */
  .rdp {
    padding-bottom: 10px;
    margin-top: 35px;
  }
  /* line 69, ../scss/query.scss */
  .rdp .iframe, .rdp .menu {
    display: none;
  }

  /* line 74, ../scss/query.scss */
  .address {
    margin-left: 0;
    text-align: center;
  }
  /* line 77, ../scss/query.scss */
  .address p {
    font-size: 1em;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  /* line 86, ../scss/query.scss */
  .fone {
    font: 1em 'open_sansregular';
  }

  /* line 90, ../scss/query.scss */
  .direitos {
    display: none;
  }

  /* line 94, ../scss/query.scss */
  .edeas {
    margin-top: 13px;
    text-align: right;
  }

  /* line 111, ../scss/query.scss */
  .cont {
    padding-top: 20px;
    background: url("../images/back-diferenciais.jpg") center -60px repeat-x;
  }
  /* line 114, ../scss/query.scss */
  .cont:before {
    display: none;
  }
  /* line 117, ../scss/query.scss */
  .cont .grid {
    padding-top: 100px;
  }

  /* line 121, ../scss/query.scss */
  .blc .blc-1 {
    /*margin:0 20px 25px;
    &:last-child{
        margin-left: 20px
        }*/
  }
  /* line 122, ../scss/query.scss */
  .blc .blc-1 img {
    height: 150px;
  }

  /* line 137, ../scss/query.scss */
  .tit-nivel2 {
    font-size: 1.7em!important;
  }

  /* line 141, ../scss/query.scss */
  .area .input {
    margin-bottom: 7px;
  }

  /* line 145, ../scss/query.scss */
  .prev1, .next1, .prev, .next {
    display: none!important;
  }

  /* line 149, ../scss/query.scss */
  .form-contato {
    margin: 0;
  }
}
/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/
/* line 69, ../scss/style.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 73, ../scss/style.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 82, ../scss/style.scss */
.link-center {
  width: 35%;
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 7px 15px;
  border: 1px solid #1a1a1a;
  font: 0.875em "open_sansregular";
  text-align: center;
}

/* line 96, ../scss/style.scss */
h1 {
  color: #fff;
  text-align: center;
}

/* line 96, ../scss/style.scss */
h2 {
  color: #fff;
  text-align: center;
}

/* line 96, ../scss/style.scss */
h3 {
  color: #fff;
  text-align: center;
}

/* line 107, ../scss/style.scss */
.tits {
  margin: 0 auto 25px;
  text-align: center;
}

/* line 111, ../scss/style.scss */
.home .tit-nivel2 {
  background: url("../images/pena.png") center no-repeat;
  padding-top: 150px;
}

/* line 115, ../scss/style.scss */
.tit-nivel2 {
  font: 1.5em "hammersmithoneregular";
  display: inline-table;
  text-transform: uppercase;
}

/* line 121, ../scss/style.scss */
.tit-nivel3 {
  font: 1.375em "hammersmithoneregular";
}

/* line 126, ../scss/style.scss */
.tit-nivel4 {
  text-align: center;
  color: #3865a8;
  font: 0.875em "open_sansregular";
}

/* line 132, ../scss/style.scss */
.tit-nivel5 {
  text-align: center;
  color: #1a1a1a;
  font: 0.875em "open_sansregular";
}

/* line 143, ../scss/style.scss */
.rdp {
  padding: 70px 0;
  background: #252525;
}
/* line 146, ../scss/style.scss */
.rdp address {
  font: 0.875em "open_sansregular";
  color: #fff;
  text-align: center;
}
/* line 147, ../scss/style.scss */
.rdp address .tit-nivel2 {
  padding: 0;
  background: none;
}
/* line 154, ../scss/style.scss */
.rdp address a {
  color: #fff;
}
/* line 156, ../scss/style.scss */
.rdp address a:hover {
  color: #3865a8;
}

/* line 165, ../scss/style.scss */
.flexible {
  padding: 80px 0;
}
/* line 168, ../scss/style.scss */
.flexible .intro {
  margin: 0 auto 50px;
  display: block;
}
/* line 172, ../scss/style.scss */
.flexible p {
  text-align: center;
  color: #ebebeb;
}

/* line 67, ../scss/mixins.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 71, ../scss/mixins.scss */
.cf:after {
  clear: both;
}

/* classes constants */
/* line 193, ../scss/style.scss */
.dn {
  display: none;
}

/* line 194, ../scss/style.scss */
.db {
  display: block;
}

/* line 195, ../scss/style.scss */
.img-rep {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 196, ../scss/style.scss */
.fl-lf {
  float: left;
}

/* line 197, ../scss/style.scss */
.fl-rg {
  float: right;
}

/* line 198, ../scss/style.scss */
.mr-lf {
  margin-left: 0;
}

/* line 199, ../scss/style.scss */
.mr-bt {
  margin-bottom: 0;
}

/* line 208, ../scss/style.scss */
.examples {
  padding: 80px 0;
}
