/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/

// Cores
$cl1 : #62c232;  // green
$cl2 : #37b637;  // green2 
$cl3 : #565656;  // gray
$cl4 : #29aa64;  // green
$cl5 : #f1c40f;  // yellow
$cl6 : #fff;     //white

// Fontes
$ft1  : "oxygenlight";
$fta1 : 'oxygen-light-webfont';

$ft2  : "st_ryde_mediummedium";
$fta2 : 'stryde_medium-webfont';


// Tamanhos
$t-pp    : .750em;      // 12px
$t-p      : .875em;     // 14px
$t-m     : 1em;         // 16px
$t-g      : 1.5em;      // 24px
$t-gg    : 1.875em;   // 30px
$t-ggg  : 1.875em;   // 30px

// Grid
$pad  : 10px;
$full : 100%;
$center : 1110px;

// Variaveis conteudo
