//mark menu
    .home .menu-link[title*=""],
    .page- .menu-link[title*=""]{color:$cl2;}


.navbar{
    .nav{
        li{
            margin-left:10px!important;
            a{
              padding:10px 4px;              
            }
        }
        a.menu-link{
        font:ft-convert(13) $ft1;
        color: $cl6!important;
        text-transform: uppercase
        }
        .active a{
            background: none!important;
            color: $cl5!important
            }
    } 
    
}


//** resp
.navbar-toggle{
    background: $cl6;
}