/*
|----------------------------------------------
| footer
|----------------------------------------------
*/


.rdp {
    background:$cl2;
    padding:20px 0;
}

.address{
    @extend p;
    color: #fff;
    strong{
        font-size:$t-m;
    }
}
