/*
|----------------------------------------------
| Header
|----------------------------------------------
*/


.header{
  background-image: linear-gradient(to right, #86cb2e, #37b637);
    .navbar-nav{
        margin-top: 8px;
    }
  //padding: 10px 0;
    .navbar-default{
        border: 0; 
        background: 0;
        margin-top: 15px;
    }
}


// **
//logo
// **
.logo{
    //@include center(25px);
    @include img('logo.png');
    background-size: 100%;
    display:block;
    background-repeat: no-repeat;
    
}


.fm{
    margin-top:10px;
  .form-control{
    font:ft-convert(12) $ft1;
    color: #fff;
    border: 0;
      background:#009d3d url('../images/icon-lupa.jpg') right no-repeat;

  }
  ::-webkit-input-placeholder {
   color: #fff;
} 
::-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

    
}

//midias
.blc-midias{
    margin-top:4px;
    li{
      float: left;
      a{
      @include size(34px);
       float: left;
       margin-left:4px;
       background:url('../images/icons.png') no-repeat;

           &[title*="Flickr"]{
            background-position:0 -44px;
          }
          &[title*="Youtu"]{
             background-position:0 -87px

        }
    }
  }
}
