


/*
|----------------------------------------------
| Inner Content
|----------------------------------------------
*/

.content{
    background: #ececec;
    padding-bottom:50px; 
}


//**
// pagina sobre
//**
.texto{
  max-height:250px;
  display:inline-block;
  overflow:hidden
}
.completo{
     max-height:none;
}
.sobre{
    .intro{
        text-align: center;
        margin: 40px;
    }   
    
    .tit-nivel3{
        font-weight: bold;
        text-transform:inherit
    }
    a{
        margin:25px 0
    }
}
.historia{
    background: $cl6;
    p{
        color: $cl2;
    }
    .intro-des{
        font-weight: bold
    }
}



.missao-visao{
    background-image: linear-gradient(to right, #37b637, #86cb2e);
    padding:99px 15px;
    section{
        border: 1px solid #93cf2c;
        border-radius: 5px;
        margin-bottom: 40px;
        padding:25px;
        h3,p{
            color: $cl6;
            text-align: center
        }
    }
}

.voce-empresa{
    .tit-nivel2{
        color: $cl2;
    }
}

.blc-diferenciais{
    width: 100%;
    margin:40px 0;
    li{
        margin-bottom: 50px;
    }
    .border{
        width: 26%;
        margin:50px auto;
        display: table;
        
    }
}


//**
// pagina soluções
//**
.solucoes{
    .intro{
        text-align: center;
        margin: 40px;
        color: $cl2;
    }
    .bg-white{
        float: inherit;
    }
}


//** vertical timeline


.cd-container{
    p{
        font-size:.9em
    }
}
.cd-timeline-content{
    .tit-nivel3{
        font-weight: bold;
        color: $cl2!important
    }
}


.cd-timeline-img.cd-picture {
    background:none;
}
.cd-timeline-img {
    box-shadow:none;
    img{
        @include size(15px);
        left:58%
    }
}
.cd-date{
    @extend .tit-nivel3;
    font-weight: bold;
    color: $cl2;
}


.cd-vert{
    position: absolute;
    top:40%;
    right:0;
    padding:40px;
    background: $cl6
}

.cd-vert-left{
    margin-top:10%;
    margin-right:10%; 
}


.cd-timeline-content::before{
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border:0!important;    
}




//**
// pagina agenda
//**
.agenda-int{
    .intro{
        text-align: center;
        margin: 40px;
        color: $cl2;
    }
}

.blc-agenda{
    padding: 50px 0;
    .tit-nivel3{
        text-transform: uppercase;
		font:ft-convert(35) $ft1;
        color: $cl3;
    }
    .data, .dia{
        font-family:$ft1;
        text-align: center;
        display: block
        }
        .dia{
            display: block;
            text-transform: uppercase;
            font-size: $t-m;
        }
        .data{
            margin-top: 15px;
            font-size:3em;
            font-weight: bold;

        }
    
}    
    .a-agenda-li{
        margin-bottom: 50px;
        border-left: 1px dotted rgba($cl3, .5)
    }
        .a-agenda-a{
            font-family: $ft1;
            strong{
                color: $cl2;
                font-size: $t-p
            }
            .tit-nivel4{
                color: $cl2;
                font-size: $t-g
            }
        }
            .a-agenda-img{
               a {
                   position: relative; 
                   display: block;
                &:before{
                content: "";
                position: absolute;
                height:100%;
                width:100%;
                background: url('../images/icon-lupa-hover.png') center no-repeat;
                opacity:0;    
                }
                &:hover:before{                    
                    opacity: .7
                    }
                }
            }



//**
// pagina notícias
//**
.noticias-int{
    .intro{
        text-align: center;
        margin: 40px;
        color: $cl2;
    }
    .fotos{
        padding: 50px 0;
        .gal-li{
            a{
                height:290px;
                overflow: hidden;
                display: block
            }
        }
    }
}
.blc-not{
    .tits{
        margin:0;
    }
 
    
// news coluna    
.blc-not-col{
        margin:25px 0
    }    
}

//**
// news interna
//**
.blc-not-int{
    .intro{
        text-align: center;
        margin: 40px;
        color: $cl2;
    }
    .data{
        font:ft-convert(14) $ft1;
        color: $cl2;
        text-transform: uppercase
    }
    .tit-nivel4{
        color: $cl2;
        font-size:$t-g   
    }
    .foto-int,.share{
        margin-bottom: 20px;
    }
    .blc-not{
        margin-top: 40px
    }
    
}


//**
// pagina n==fotos
//**
.fotos-eve{
    .intro{
        text-align: center;
        margin: 40px;
        color: $cl2;
    }
    .fotos{
        padding: 50px 0;
        .gal{
            margin-bottom: 50px;
        }
        .gal-li{
            a{
                height:200px;
                overflow: hidden;
                display: block
            }
        }
    }
    .a-agenda-li{
        margin-bottom:60px;
    }
    .button{
        margin: 0 auto;
        display: table;
        font-size:$t-m 
    }
}

.fotos-even-int{
    .tit-nivel4{
        color: $cl2;
        font-size:$t-g   
    }
    .foto-int,.share{
        margin-bottom: 20px;
    }
    .blc-not{
        margin-top: 40px
    }
    .gal-int{
        margin: 40px 0;
        .gal-li{
            margin-bottom: 30px;
        }
    }
    
}


//**
// pagina nucleo
//**
.blc-nucleo{
    margin:50px 0; 
    background: $cl6;   
    display: table;
    .tit-nivel4{
        color: $cl2;
        margin-top: 30px
    }

    li:nth-child(odd){
        .blc-nuc-img{
            float: right;
             position: relative;
        &:before{
            content: "";
            position: absolute;
            left:0;
            top:40%;
            z-index: 4;
            @include size(32px,83px);
            background: url('../images/nucleo-bg.png') no-repeat;
            }
        }
    }
    
    li:nth-child(even){
        .blc-nuc-img{            
        position: relative;
        &:before{
            content: "";
            position: absolute;
            right:1.5%;
            top:40%;
            z-index: 4;
            @include size(32px,83px);
            background: url('../images/nucleo-bg2.png') no-repeat;
            }
        }
    }

}



//**
//page associados
//**
.blc-campos{
    margin-top: 25px;
    .tit-nivel4{
        color:$cl2
    }
}


//**
// page contato
//**
.cont-texto{
    margin-top: 25px;
} 

.contato{
    .blc-diferenciais{
        strong{
            text-transform:uppercase;
            font:bold ft-convert(20) $ft1;
            margin-top: 7px;
        }
        p{
            font-style: italic
        }
    }
    .fm-informativo{
        input, select, textarea{  
        border-color:transparent transparent $cl3 transparent;
        box-shadow:none
        } 
    }

}
