/*
|----------------------------------------------
| _query 320 pra galeria
|----------------------------------------------
*/

@media only screen and (max-width:320px) {


// **
// galeria da HOME
// **
.gal-li{
    img{
    width:200px;
    height:106px;
    }
       /* &:nth-child(1n){
            margin:0 7px 15px 7px;
        }*/
    }
    
    
.fotos-even-int{
.gal-li{
    img{
    width:inherit!important;
    height:inherit!important;
    }
}

}    
    

}

/*
|----------------------------------------------
| _query 480 pra galeria
|----------------------------------------------
*/

@media only screen and (max-width:480px) {


// **
// galeria da HOME
// **
.gal-li{
    border: 0!important;
    img{
    width:175px;
    height:80px;
    }
/*        &:nth-child(1n){
            margin:0 7px 15px 7px;
        }*/
    a{
        .gal-tit{
        top: 5%;
        font-size: 12px;
        }
    }
}

    
    
    
.a-agenda-li{
width: 100%!important        
}    
  
    
.fotos-eve{
    .gal-li{
        width: 100%;
        margin-bottom: 5px;
    }
}        
    
.fotos-even-int{
.gal-li{
    img{
    width:inherit!important;
    height:inherit!important;
    }
}

}
    
    
}

/*
|----------------------------------------------
| _query 800 pra galeria
|----------------------------------------------
*/
@media only screen and (min-width:800px) {

// **
// galeria resp
// **
.home .list-tao:nth-child(3n){
    margin-right: 0;
    }

}





/*
|----------------------------------------------
| _query 800 pra coisas globais
|----------------------------------------------
*/
@media only screen and (max-width:800px) {
.cem .grid{
    width:90%;
    margin: 0 auto;
}

.tit-nivel3{font-size:1.2em!important;}

    
//form header
form.fm-busca {
    margin:10px 0;
}

    
//menu
    .menu-link{
        text-align: center
    }
    
// **
// painel
// **
section.painel{
    margin-top:60px;
}
// **
// logo
// **
.logo{
       //transition:ease-in .2s;
       @include size(150px,40px);
       background-size: 100%;
       margin: 9px 10px;
    float: left
}

    .blc-midias{
        float: inherit!important;
        margin: 0 auto;
        display: table
            
    } 
    

//**
// home revista    
//**   
    .blc-rev{
        img{
            margin: inherit!important
        }
    }
//**
// inner content
//**
    
// pagina sobre   
    .sobre{
        .historia{
            .tit-nivel3{
                padding-top: 20px;
            }
        }
    }    
    
.missao-visao {    
    padding:30px 15px;
    section{
        margin: 20px;
    }
}    
    
.blc-diferenciais{
    width: 100%;
    div{
        margin: 0 auto;
        display: table
    }
}
    .iframe{
        height:300px;
    }

    
//
//  .content-bg  
//
.content-bg{
    background:#ececec!important;
}    
    
.content{
    padding-bottom: 10px!important
}    
    
//**
// pagina solucoes
//**
.cd-vert {
    position:inherit;
    margin-top: 15px;
    background: #fff;
}

.cd-vert-left {
     margin-top:15px; 
     margin-right:inherit; 
}
    
//**
// pagina agenda
//**
    .blc-agenda{
         display: table;
    }    
.a-agenda-li{
    .data{
        margin-bottom: 15px;
    }
}   
   
.a-agenda-img{
   a {
       position: relative; 
       display: block;
    &:before{
    display: inherit!important;
    background: inherit!important
    }
    }
}    
    

    
//**
// page noticias
//**    

.noticias-int .fotos {
    padding: 50px 0;
    display: table;
}
    .gal{
     width: 100%;
     display:table;
        a{
            height:115px!important;
        }
    }
    
    .gal-li{
        margin-bottom: 25px;
        a{
            &:before{
                background:inherit !important
            }
        }
    }

.noticias-int{
    .blc-not{
     margin-bottom: 25px;   
     display: table;
    }
    
}    
    
    
//**
// not interna
//**    
.blc-not-int{
    .col-md-9{
        display: inline;
    }
}    
    

    
//**
// page fotos eventos   
//**
.fotos-eve{
    .fotos{
     display: table;
      padding:0;
    }
    .blc-agenda{
        padding: 10px 0;
        .button{
            margin-bottom: 20px;
        }
    }
}    
    
    

//
//fotos
//
    
    
//**
// pagina nucleos
//**
.blc-nucleo{
    li{
        padding-bottom: 15px;
        border-bottom: 1px dotted #ccc;
        margin-bottom:30px 
    }
    .tit-nivel4{
        float: left;
        width: 100%;
    }
    .blc-nuc-img:before{
        background: none!important
    }
    p{
        margin-bottom: 20px;
    }
    
}
    
    
    
//**
// contato
//**
.cont-texto{    
    p{padding-top: 20px;
    display: table;
    }
}
    
    
// **
// rodapé
// **
.rdp{
    padding-bottom: 10px;
    margin-top:0px;
    .iframe, .menu{
        display: none;
    }
}

.address{
    margin-left: 0;
    text-align: center;
    p{
    font:ft-convert(20) $ft1;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    }
}

.fone{
    font-size:$t-gg!important;
}

.direitos{
    display: none;
}

.edeas{
    margin-top:13px;
    text-align: right;
}







//************************************************** //inner-content



// **
// outros estilos
// **
.tit-nivel2{
font-size:1.7em!important;
}

.cont .link-center{
width: 100%;
margin-top:-50px;
}

.area .input{
margin-bottom: 7px;
}

.prev1, .next1, .prev, .next, .img-content, .contador, .share{
display: none!important;
}

.form-contato{
margin: 0;
}

//**
// agrupamentos
//**
.blc-ass, .blc-inf, .blc-rev{
    background:#fff;
    padding-top: 10px;
}

}

